<?xml version="1.0" encoding="UTF-8"?>

<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="kr.ac.inhatc.mapper.MarketMapper">
	<select id="processLoginMember" parameterType="kr.ac.inhatc.dto.MemberDto" resultType="kr.ac.inhatc.dto.MemberDto">
        SELECT * FROM SHOP_MEMBER WHERE id = #{id} and password = #{password}
    </select>
    <insert id="processAddMember" parameterType="kr.ac.inhatc.dto.MemberDto">
    	INSERT INTO SHOP_MEMBER
    	VALUES
    	(#{id}, #{password}, #{name}, #{gender}, #{birth},
    	#{mail}, #{phone}, #{address}, now())
    </insert>
    <select id="processInfoMember" parameterType="kr.ac.inhatc.dto.MemberDto" resultType="kr.ac.inhatc.dto.MemberDto">
        SELECT * FROM SHOP_MEMBER WHERE id = #{id}
    </select>
    <update id="processUpdateMember" parameterType="kr.ac.inhatc.dto.MemberDto">
    	UPDATE SHOP_MEMBER
    		SET
    		password = #{password},
    		name =  #{name},
    		gender = #{gender},
    		birth = #{birth},
    		mail = #{mail},
    		phone = #{phone},
    		address = #{address}
    	WHERE
    		id = #{id}
    </update>
    <delete id="deleteMember" parameterType="kr.ac.inhatc.dto.MemberDto">
    	DELETE FROM SHOP_MEMBER
    	WHERE id = #{id}
    </delete>
    <insert id="processAddProduct" parameterType="kr.ac.inhatc.dto.ProductDto">
    	INSERT INTO SHOP_PRODUCT
    	VALUES
    	(#{productId}, #{pname}, #{unitPrice}, #{description}, #{manufacturer},
    	#{category}, #{unitsInStock}, #{condition}, #{fileName}, #{quantity}, now())
    </insert>
    <select id="listProducts" resultType="map">
        SELECT  
            PRODUCT_ID productId, PNAME pname, UNIT_PRICE unitPrice, DESCRIPTION description,
            MANUFACTURER manufacturer, CATEGORY category, UNITS_IN_STOCK unitsInStock,
            `CONDITION` `condition`, FILE_NAME fileName, QUANTITY quantity, REG_DT regDt
        FROM SHOP_PRODUCT
    </select>
    <select id="getProduct" parameterType="kr.ac.inhatc.dto.ProductDto" resultType="kr.ac.inhatc.dto.ProductDto">
    	SELECT  
            PRODUCT_ID productId, PNAME pname, UNIT_PRICE unitPrice, DESCRIPTION description,
            MANUFACTURER manufacturer, CATEGORY category, UNITS_IN_STOCK unitsInStock,
            `CONDITION` `condition`, FILE_NAME fileName, QUANTITY quantity, REG_DT regD
        FROM SHOP_PRODUCT
        WHERE 
        	PRODUCT_ID = #{productId}
    </select>
    <update id="processUpdateProduct" parameterType="kr.ac.inhatc.dto.ProductDto">
    	UPDATE SHOP_PRODUCT
    		SET
    		PNAME = #{pname},
    		UNIT_PRICE =  #{unitPrice},
    		DESCRIPTION = #{description},
    		MANUFACTURER = #{manufacturer},
    		CATEGORY = #{category},
    		UNITS_IN_STOCK = #{unitsInStock},
    		`CONDITION` = #{condition},
    		<if test="fileName != null and fileName != ''">
    		FILE_NAME = #{fileName},
    		</if>
    		QUANTITY = #{quantity},
    		REG_DT = NOW()
    	WHERE
    		PRODUCT_ID = #{productId}
    </update>
    <delete id="deleteProduct" parameterType="kr.ac.inhatc.dto.ProductDto">
    	DELETE FROM SHOP_PRODUCT
    	WHERE PRODUCT_ID = #{productId}
    </delete>
</mapper>